DATABASE_URL="postgresql://postgres.xxxxx:password@aws-x-xx-xxxx-x.pooler.supabase.com:5432/postgres"
ANTHROPIC_API_KEY=
VOYAGE_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_REMIND_CONTACT_CONTENT_SID=
PORT=3000
